<div class="flex-container">
    <h2>Orders</h2>
    <a mat-fab routerLink="orders/order-create"><mat-icon>add</mat-icon></a>
</div>

<!-- mensaje de carga -->
<div *ngIf='loading'>loading...</div>

<ng-container *ngIf='orders?.length > 0 else tagNotOrders'>
  <!-- lista de customers -->
  <mat-nav-list>
    <a *ngFor='let order of orders; index as customerId' [name]='order.description' [routerLink]="['/customers', order.id.toString()]">
      <mat-list-item>
            <div class="flex-container">
                <h3>{{ order.date }}</h3>
                <!-- <h3><mat-icon>perm_identity</mat-icon></h3> -->
                <h3>{{ order.description }}</h3>
                <h3>{{ order.total }}</h3>
            </div>
      </mat-list-item>
    </a>
  </mat-nav-list>
</ng-container>

<ng-template #tagNotCustomers>

</ng-template>
