<h2>Customers</h2>

<!-- mensaje de carga -->
<div *ngIf='loading'>loading...</div>

<ng-container *ngIf='customers?.length > 0 else tagNotCustomers'>
  <!-- campo de form de angular material para filtrar customers por nombre -->
  <mat-form-field>
      <input matInput (keyup)="applyFlter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <mat-nav-list>
    <mat-list-item *ngFor='let customer of auxCustomers; index as customerId'>
      <h3>
        <a [name]='customer.name' [routerLink]="['/customers', customerId]">
            <div> {{ customer.name }} - {{customer.telephone}} </div>
        </a>
      </h3>
    </mat-list-item>
  </mat-nav-list>
</ng-container>

<ng-template #tagNotCustomers>

</ng-template>

<!-- button add customer -->
<div class="example-button-row" >
  <!-- <button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <a mat-fab routerLink="."><mat-icon>add</mat-icon></a>
</div>


