<h2>Create Order</h2>

<form [formGroup]="orderFormModel"  (ngSubmit)="createOrder(orderFormModel.value)">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" required placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <!-- <mat-form-field>
        <input matInput type="date" placeholder="Date" formControlName="date">
    </mat-form-field> -->

    <!-- <mat-form-field>
      <input matInput type="number" placeholder="CustomerId" formControlName="customerId">
    </mat-form-field> -->

    <mat-form-field >
        <select matNativeControl required [(ngModel)]="selectedValue" formControlName="customerId">

            <option *ngFor='let customer of customers' [value]="customer.id">
                {{ customer.name }}
            </option>
        </select>
        <!-- <mat-error *ngIf="selectFormControl.hasError('required')">
                This field is required
        </mat-error>         -->
    </mat-form-field>
    <p>You selected: {{selectedValue}}</p>

    <mat-form-field>
        <input matInput required placeholder="Description" formControlName="description">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" required placeholder="Total" formControlName="total">
    </mat-form-field>

    <br><br>

    <button mat-flat-button color="primary" type="submit">Add Order</button>
</form>
