<h2>Create Customer</h2>

<form [formGroup]="customerFormModel" (ngSubmit)="createCustomer(customerFormModel.value)">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telephone" formControlName="telephone">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
    <br><br>

    <button mat-flat-button color="primary" type="submit">Add Customer</button>
</form>
