<!-- <button mat-button [matMenuTriggerFor]="menu">Customers</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> 
</mat-menu>  -->

<!-- <a routerLink="/"><h1>Customers</h1></a>

---

<a><h1>Orders</h1>></a>  -->

<!-- menu with icons -->
<mat-toolbar color="primary">  
    <mat-toolbar-row>
      <span>My app</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon"><a routerLink="/">contacts</a></mat-icon>
    </mat-toolbar-row>
</mat-toolbar>




